{% extends "../base.html" %}

{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}
{% trans "Confirm E-mail Address" %}
{% endblock %}


{% block content %}

    {% include '../partials/navbar.html' with AUTH='false' %}
    <header class="min-h-screen w-full bg-black bg-opacity-75 showcase relative border-gray-600 border-b-8 flex justify-center py-20 bg-cover"  style="background-image: url('{% static 'background_philflix.jpg' %}');">

    

        <div class="z-10 h-full py-32 md:py-0 text-gray-100 w-6/12  flex items-center flex-col">
            
            <form method='POST' class="bg-black bg-opacity-70 py-8 px-4 w-8/12 rounded-md" >
                <h1 class="text-4xl font-semibold text-center ">{% trans "E-Mail-Adresse bestätigen" %}</h1>

                {% if confirmation %}

                {% user_display confirmation.email_address.user as user_display %}

                <br>

                <p class='text-lg font-medium mb-3'>{% blocktrans with confirmation.email_address.email as email %}Bitte bestätigen Sie das <a class="text-sky-700"href="mailto:{{ email }}">{{ email }}</a> die E-Mail-Adresse für den Benutzer <strong class="text-sky-700 font-extrabold text-lg">{{ user_display }}</strong>.{% endblocktrans %}</p>

                <br>

                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <button class="py-2 px-4 bg-sky-700 text-gray-100 md:font-semibold md:text-xl rounded-md" type="submit">{% trans 'Bestätigen' %}</button>
                </form>

                {% else %}

                {% url 'account_email' as email_url %}

                <br>

                <p class='text-lg font-medium mb-3'>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a class="text-sky-700" href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

                {% endif %}

            </form>
        </div>
    </header>
{% endblock %}
