{% load static %}
<nav class="flex text-gray-100 justify-between items-center py-3 px-4 fixed w-full z-50">
        <div class="w-6/12">
            <a href='/'>
            
            <img src="{% static 'Phil-II-flix_Logo.png' %}" alt="logo" class="w-5/12 md:w-2/12">
            </a>
        </div>

        {% if AUTH != 'false'  %}
            {% if request.user.is_authenticated %}
            <div>
            <form action="{% url 'account_logout' %}" method="post">
                {% csrf_token %}
                <button class='py-2 px-4 bg-sky-700 text-gray-100 md:font-semibold md:text-xl rounded-md'>
                    Abmelden
                </button>
            </form>
            </div>
            {% else %}
            <div>
            <a href="{% url 'account_login' %}">
                <!-- bg-primary_red -->
                <button class='py-2 px-4 bg-sky-700 text-gray-100 md:font-semibold md:text-xl rounded-md'>
                    Einloggen
                </button>
            </a>
            </div>
            {% endif %}
        {% endif %}
    </nav>