{% extends 'base.html' %}
{% load static %}
{% block title %}
PHIL II FLIX - MovieList
{% endblock title %}

{% block others %}
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

{% endblock others %}
{% block content %}


    {% include 'partials/navbar.html' %}
    <main class='bg-primary_black min-h-screen w-full'>
        <section class="h-screen relative bg-no-repeat pb-8 pl-6 flex  items-end bg-cover" style="background-image: url('{{show_case.flyer.url}}')  ;">
        <!-- <section class="h-screen relative bg-no-repeat pb-8 pl-6 flex  items-end bg-cover" style="background-image: url('{% static 'movie.webp' %}');"> -->
            <div>
                <h2 class="text-6xl font-semibold text-white my-4">
                    {{show_case.title}}
                </h2>
                <p class=" w-11/12 md:w-5/12 font-bold text-white my-4">
                    {{show_case.description | slice:":50"}}...
                    <!-- {% lorem 1 %} -->
                </p>
                <div class="flex my-4">
                    <a href="{% url 'core:play' movie_id=show_case.uuid %}">
                    
                        <button class="flex items-center bg-white py-2 px-5 rounded-md" style='color:black;'>
                            <ion-icon name="play" class="text-2xl"></ion-icon>
                            <span class="ml-3 font-bold" >
                                Play
                            </span>
                        </button>
                    </a>

                    <a href="{% url 'core:show_det' movie_id=show_case.uuid %}">
                        <button class="ml-4 text-white flex items-center bg-gray-500 bg-opacity-80 py-2 px-5 rounded-md">
                        
                            <ion-icon name="information-circle-outline" class="text-2xl" ></ion-icon>
                            <span class="ml-3 font-bold">
                                Mehr Infos
                            </span>
                        </button>
                    
                    </a>
    
                </div>
            </div>
        </section> 
 <!-- Popular on PHIL II FLIX 

	    <section class='bg-primary_black  min-h-screen flex justify-center py-10'>
            <div class="p-8 w-10/12 relative" >
                <h2 class="text-gray-200 text-2xl font-bold">
                    Popular on PHIL II FLIX
                </h2>
                <div class="flex   items-center min-w-full  movie_lis">
                    {% for movie in movies %}

                        <a href="{% url 'core:show_det' movie_id=movie.uuid %}">
                            <div class=" h-40 w-40 m-4  bg-sky-700 overflow-hidden flex-shrink-0 rounded-md">
                                <img src="{{movie.flyer.url}}" class="w-full h-full " alt="">
                            </div>

                        </a>
                    {% endfor %}

                </div>
            </div>
-->


	    <section class='bg-primary_black  min-h-screen flex justify-center py-10'>
    
            <div class="p-8 w-10/12 relative">
                <!-- <h2 class="text-gray-200 text-2xl font-bold mb-4">
                    Filme nach Kategorien
                </h2> -->
           
                    {% for category in categories %}
                    <h2 class="text-gray-200 text-2xl font-bold mb-4">{{ category }}</h2>
                    <div class="flex   items-center min-w-full  movie_lis">
                        {% for movie in movies %}
                        {% if movie.categories == category %}
                        <div>
                            <a href="{% url 'core:show_det' movie_id=movie.uuid %}">
                                <div class=" h-40 w-40 m-4  bg-sky-700 overflow-hidden flex-shrink-0 rounded-md">
                                    <img src="{{movie.flyer.url}}" class="w-full h-full " alt="">
                                    <p class="text-gray-200 text-lg font-bold mt-2 absolute bottom-0 left-0 right-0 text-center">{{ movie.title }}</p>
                                </div>
                            </a>
                            <br> <!-- Hier wird das <br> nach jeder Kategorie hinzugefügt -->
                            <br> <!-- Hier wird das <br> nach jeder Kategorie hinzugefügt -->
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
            </div>
        </section>

 <!-- 


    <section class='bg-primary_black  min-h-screen flex justify-center py-10'></section>

        <div class="p-8 w-10/12 relative">
            <h2 class="text-gray-200 text-2xl font-bold mb-4">
                Filme nach Kategorien
            </h2>
       
                {% for category, movies in movies_by_category.items %}
                <h3 class="text-gray-200 text-2xl font-bold mb-2">{{ category }}</h3>
                <div class="flex   items-center min-w-full  movie_lis">
                    {% for movie in movies %}
                    <div>
                        <a href="{% url 'core:show_det' movie_id=movie.uuid %}">
                            <div class=" h-40 w-40 m-4  bg-sky-700 overflow-hidden flex-shrink-0 rounded-md">
                                <img src="{{movie.flyer.url}}" class="w-full h-full " alt="">
                            </div>
                            <p class="text-gray-200 text-lg mt-2">{{ movie.title }}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            
        </div>
    </section> 
    
    <section class="bg-primary_black min-h-screen py-10">
        <div class="p-8 w-10/12 mx-auto">
            <h2 class="text-gray-200 text-2xl font-bold mb-4">
                Popular on PHIL II FLIX
            </h2>
            <div class="flex flex-wrap -mx-4">
                {% for movie in popular_movies %}
                <div class="w-1/4 px-4 mb-8">
                    <a href="{% url 'core:show_det' movie_id=movie.uuid %}">
                        <div class="h-40 bg-sky-700 overflow-hidden rounded-md">
                            <img src="{{movie.flyer.url}}" class="w-full h-full" alt="">
                        </div>
                        <p class="text-gray-200 text-lg mt-2">{{ movie.title }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    
        <div class="p-8 w-10/12 mx-auto">
            <h2 class="text-gray-200 text-2xl font-bold mb-4">
                Filme nach Kategorien
            </h2>
            {% for category, movies in movies_by_category.items %}
            <h3 class="text-gray-200 text-2xl font-bold mb-2">{{ category }}</h3>
            <div class="flex flex-wrap -mx-4">
                {% for movie in movies %}
                <div class="w-1/4 px-4 mb-8">
                    <a href="{% url 'core:show_det' movie_id=movie.uuid %}">
                        <div class="h-40 bg-sky-700 overflow-hidden rounded-md">
                            <img src="{{movie.flyer.url}}" class="w-full h-full" alt="">
                        </div>
                        <p class="text-gray-200 text-lg mt-2">{{ movie.title }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </section> 

            <div class="p-8 w-10/12 relative" >
                <h2 class="text-gray-200 text-2xl font-bold">
                    Filme nach Kategorien
                </h2>

                {% for category, movies in movies_by_category.items %}
                <h3 class="text-gray-200 text-2xl font-bold">{{ category }}</h3>
                
                <div class="flex   items-center min-w-full  movie_lis">
                    {% for movie in movies %}

                        <a href="{% url 'core:show_det' movie_id=movie.uuid %}">
                            <div class=" h-40 w-40 m-4  bg-sky-700 overflow-hidden flex-shrink-0 rounded-md">
                                <img src="{{movie.flyer.url}}" class="w-full h-full " alt="">
                            </div>
                            <p class="text-gray-200 text-lg mt-2">{{ movie.title }}</p>
                        </a>
                    {% endfor %}
                {% endfor %}
                </div>
            </div> 

            <div class="p-8 w-10/12 relative">
                <h2 class="text-gray-200 text-2xl font-bold mb-4">
                    Filme nach Kategorien
                </h2>
           
                    {% for category, movies in movies_by_category.items %}
                    <h3 class="text-gray-200 text-2xl font-bold mb-2">{{ category }}</h3>
                    <div class="flex   items-center min-w-full  movie_lis">
                        {% for movie in movies %}
                        <div>
                            <a href="{% url 'core:show_det' movie_id=movie.uuid %}">
                                <div class=" h-40 w-40 m-4  bg-sky-700 overflow-hidden flex-shrink-0 rounded-md">
                                    <img src="{{movie.flyer.url}}" class="w-full h-full " alt="">
                                </div>
                                <p class="text-gray-200 text-lg mt-2">{{ movie.title }}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                
            </div>

        <section class="bg-primary_black min-h-screen py-10">
            <div class="p-8 w-10/12 mx-auto">
                <h2 class="text-gray-200 text-2xl font-bold mb-4">
                    Popular on PHIL II FLIX
                </h2>
                <div class="flex flex-wrap -mx-4">
                    {% for movie in popular_movies %}
                    <div class="w-1/4 px-4 mb-8">
                        <a href="{% url 'core:show_det' movie_id=movie.uuid %}">
                            <div class="h-40 bg-sky-700 overflow-hidden rounded-md">
                                <img src="{{movie.flyer.url}}" class="w-full h-full" alt="">
                            </div>
                            <p class="text-gray-200 text-lg mt-2">{{ movie.title }}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        
            <div class="p-8 w-10/12 mx-auto">
                <h2 class="text-gray-200 text-2xl font-bold mb-4">
                    Filme nach Kategorien
                </h2>
                <div class="space-y-4">
                    {% for category, movies in movies_by_category.items %}
                    <h3 class="text-gray-200 text-2xl font-bold mb-2">{{ category }}</h3>
                    <div class="flex flex-wrap -mx-4">
                        {% for movie in movies %}
                        <div class="w-1/4 px-4 mb-8">
                            <a href="{% url 'core:show_det' movie_id=movie.uuid %}">
                                <div class="h-40 bg-sky-700 overflow-hidden rounded-md">
                                    <img src="{{movie.flyer.url}}" class="w-full h-full" alt="">
                                </div>
                                <p class="text-gray-200 text-lg mt-2">{{ movie.title }}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>




        <div class="p-8 w-10/12 relative">
                <h2 class="text-gray-200 text-2xl font-bold mb-4">
                    Filme nach Kategorien
                </h2>
           
                    {% for category, movies in movies_by_category.items %}
                    <h3 class="text-gray-200 text-2xl font-bold mb-2">{{ category }}</h3>
                    <div class="flex   items-center min-w-full  movie_lis">
                        {% for movie in movies %}
                        <div>
                            <a href="{% url 'core:show_det' movie_id=movie.uuid %}">
                                <div class=" h-40 w-40 m-4  bg-sky-700 overflow-hidden flex-shrink-0 rounded-md">
                                    <img src="{{movie.flyer.url}}" class="w-full h-full " alt="">
                                </div>
                                <p class="text-gray-200 text-lg mt-2">{{ movie.title }}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                
            </div>


                  <section class="bg-primary_black min-h-screen flex justify-center  py-10">
            <div class="p-8 w-10/12 realtive">
                <h2 class="text-gray-200 text-2xl font-bold mb-4">
                    Popular on PHIL II FLIX
                </h2>
                <div class="flex   items-center min-w-full  movie_lis">
                    {% for movie in popular_movies %}
       
                        <a href="{% url 'core:show_det' movie_id=movie.uuid %}">
                            <div class=" h-40 w-40 m-4  bg-sky-700 overflow-hidden flex-shrink-0 rounded-md">
                                <img src="{{movie.flyer.url}}" class="w-full h-full " alt="">
                            </div>
                            <p class="text-gray-200 text-lg mt-2">{{ movie.title }}</p>
                        </a>
            
                    {% endfor %}
                </div>
            </div>
-->	
        
    </main>
{% endblock content %}
