{% extends 'base.html' %}
{% block title %} 
PHIL II FLIX - Movie 
{% endblock title %}

{% block content %}
    {% if full_video_url %}
        <video id="video-player" src="{{ full_video_url }}" controls class="w-full h-screen player"></video>
    {% else %}
        <!-- Code to execute if full_video_url does not exist  -->
    {% endif %}

   <script>
    // Get the video player, navbar, and back button elements
    var videoPlayer = document.getElementById('video-player');
    var navbar = document.getElementById('navbar');
    var backButton = document.getElementById('nav-back-button'); // Change this to the ID of the back button in the navbar

    // Add event listeners for the play and pause events
    videoPlayer.addEventListener('play', function() {
        // Hide the navbar and back button when the video is playing
        navbar.style.display = 'none';
        backButton.style.display = 'none';
    });

    videoPlayer.addEventListener('pause', function() {
        // Show the navbar and back button when the video is paused
        navbar.style.display = 'flex';
        backButton.style.display = 'block';
    });

    // Add event listener for the click event
    backButton.addEventListener('click', function() {
        // Navigate back when the back button is clicked
        window.history.back();
    });
</script>
{% endblock content %}